*{
    margin:0;
    padding: 0;
    
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, #c8ce10, #3200a8);
}
.container{
   
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}
a{  margin-top: 20%;
    background: white;
    height:200px;
    width:100px;
    border-radius: 10px;
    text-decoration: none;
    margin: 10px;
    padding: 10px;

}
.slider{
    position: relative;
    width: 200px;
    height: 230px;
    transform-style: preserve-3d;
animation: rotate 30s linear infinite;

}

@keyframes rotate {
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
    
}

.slider span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);
}
.slider span img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    border-radius:10px;
    object-fit: cover;
}

.slider span:hover img{
    transform: translateY(-50px) scale(1.2);
}